@import url(../css/reboot.css);
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #e9e9e9; }

h1, h2, h3 {
  color: #333;
  margin: 30px 20px;
  font-weight: bold; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.6rem; }

.container {
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: white; }

.container img {
  max-width: 100%; }

article {
  border: 2px solid #86858533;
  border-radius: 7px;
  margin: 2em 3em;
  padding-bottom: 2em; }

.meta p {
  margin-bottom: 0.1rem;
  margin-left: 3.2vw; }

.meta p:first-of-type {
  margin-bottom: 0.2em; }

.meta p:last-of-type {
  margin-top: 0.2em; }

.download:before {
  content: url("../img/icons/download.svg");
  display: inline-block;
  width: 22px;
  height: 10px;
  margin-right: 10px;
  position: relative;
  top: 5px; }

.meta a {
  position: relative;
  top: -4px; }

.meta-footer {
  display: flex;
  justify-content: center; }

.galerie {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 1em; }

.small {
  flex: 40%;
  margin: 30px 30px; }
